<h1>{{ title }}</h1>

<ul>
  {{#each users}}
    <li>
        <!-- 데이터베이스 테이블의 필드명과 동일하게 작성 -->
        {{ Name }} / {{ StudentNumber }} / {{ Major }} / {{ Class }} / {{ AdmissionDate }} / {{ Email }} 
      </a>
    </li>
  {{/each}}
</ul>