<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>
  </tr>
  {{#each department}}
  <tr>
    <td>{{Dname}}</td>
    <td>{{Dnumber}}</td>   
  </tr>
  {{/each}}
</table>


<h1>{{ title2 }}</h1>

<table>
  <tr>
    <td>Bname</td>
    <td>Bnumber</td>
  </tr>
  {{#each bus}}
  <tr>
    <td>{{Bname}}</td>
    <td>{{Bnumber}}</td>  
  </tr>
  {{/each}}
</table>